.margen-table{
  width: 90%;
  margin: auto;
}

/* buscador */
.buscador{
  text-align: right;
  margin: auto;
  width: 90%;
}
/* input buscador */
.example-full-width {
  width: 20%;
}

.crear-user{
  width: 90%;

}

#contenido {
  overflow-x: hidden;
  height: 100vh;
}

/* Configuración del titulo principal */
.configTituloPricipal{
  margin: 2%;
  text-align: center;
  font-weight: 700;
  font-size: 32.5px;
}

.centrarCampos{
  margin-left: auto;
  margin-right: auto;
}

.posicion-nombreUsuario{
  justify-content: end;
  padding-right: 40px;
}

.nombre-usuario{
  margin-left: 1%;
  margin-top: 0.4%;
  font-size: 18px;
  font-weight: 600;
}

/* Configuración de los botones principales */
.btn-principal{
  width: 22%;
  margin: 1%;
  font-size: 18px;
  font-weight: 500;
  filter: drop-shadow(2px 1px 2px rgba(0, 0, 0, 0.3));
}


/* ----------------------------------------- */
/*    Activar Navbar, Desactivar SlideBar    */
/* ----------------------------------------- */
#navbar{
  display: none;
}

@media screen and (max-width: 991px) and (min-width: 0px) {
  #slideBar{
      display: none;
  }

  #navbar{
      display: inline;
  }

}
/* ----------------------------------------- */


/* Titulo de los modal's */
.tituloModal{
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  margin-top: 5%;
  margin-bottom: 0%;
}

/*  Boton de los modal's  */
/* ---------------------- */
.btnModal{
  font-size: 19px;
  font-weight: 600;
  margin: 2%;
  border-radius: 5px;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
}


/* Configuración del texto eliminar */
.configTextDelete{
  font-size: 19px;
  font-weight: normal;
  text-align: center;
  margin: 6%;
  margin-bottom: 10%;
}



/* --------------------------------------- */
/*    Animación del Titulo y los Card's    */
/* --------------------------------------- */
  .tituloAnimacion, .animacionSecundaria {
      animation-name: camposAnimacion;
      animation-duration: 800ms;
      animation-fill-mode: both;
      animation-iteration-count: 1;
  }

  .tituloAnimacion{
      animation-delay: 100ms;
  }

  .animacionSecundaria{
      animation-delay: 150ms;
  }

  @keyframes camposAnimacion {
      from {
          opacity: 0;
          transform: translate3d(0, -25%, 0);
      }
      to {
          opacity: 1;
          transform: translate3d(0, 0, 0);
      }
  }
/* --------------------------------------- */


/* ------------------------------------------------ */
/*       Configuración de los campos del FORM       */
/* ------------------------------------------------ */
  .form-control, .form-select{
      filter: drop-shadow(2px 1px 2px rgba(0, 0, 0, 0.2));
      font-size: 17px;
  }

  .form-label{
      font-size: 17px;
      font-weight: 500;
  }
/* ------------------------------------------------ */



/* ----------------------------- */
/*     Margen de los Botones     */
/* ----------------------------- */
  .botonesConfig {
      line-height: 25px;
      text-align: center;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: rgba(255, 255, 255, 0)
  }
/* ----------------------------- */


/* Icono */
svg.btn-editDelete{
  filter: drop-shadow(2px 1px 2px rgba(0, 0, 0, 0.5));
}

svg.foto{
  color: white;
}

svg.iconCrear{
  color: white;
  width: 40px;
  margin-left: -35%;
  margin-top: -5%;
}

.margen-btnCrear{
  margin-bottom: 2%;
  text-align: right;
}

.texto-crearUsuario{
  font-size: 19px;
  font-weight: 600;
  margin-right: 1%;
}

button.btn-crearUsuario{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #0051cb;
  transition: all 0.2s;
  margin-top: 0%;
}

button.btn-crearUsuario:hover{
  background-color: #0D6EFD;
  transition: all 0.2s;
}

button.btn-foto{
  margin-right: 3%;
  margin-top: 2%;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  filter: drop-shadow(2px 1px 2px rgba(0, 0, 0, 0.3));
}

button.btn-actualizar{
  margin-right: 3%;
  margin-top: 2%;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  filter: drop-shadow(2px 1px 2px rgba(0, 0, 0, 0.3));
}

button.btn-eliminar{
  margin-top: 2%;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  filter: drop-shadow(2px 1px 2px rgba(0, 0, 0, 0.3));
}
span{
  color: black;
}
/* ----------------------------------------- */
/*        Configuración del Check Box        */
/* ----------------------------------------- */
.cont {
  display: flex;
  align-items: center;
  font-size: 17px;
}

input[type="checkbox"] {
  height: 1.7rem;
  width: 1.7rem;
  margin: 10px;
  appearance: none;
  position: relative;
  background-color: #F2ECFF;
  border-radius: 15%;
  cursor: pointer;
  overflow: hidden;
  border: .5px solid rgb(137, 137, 137);
}

input[type="checkbox"]::after {
  content: '';
  display: block;
  height: 0.9rem;
  width: .4rem;
  border-bottom: .31rem solid #FFFFFF;
  border-right: .31rem solid #FFFFFF;
  opacity: 0;
  transform: rotate(45deg) translate(-50%, -50%);
  position: absolute;
  top: 48%;
  left: 28%;
  text-align: center;
  transition: .25s ease;
}

input[type="checkbox"]::before {
  content: '';
  display: block;
  height: 0;
  width: 0;
  background-color: #0348db;
  border-radius: 15%;
  opacity: .5;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  transition: .3s ease;
}
input[type="checkbox"]:checked::before {
  height: 130%;
  width: 130%;
  opacity: 100%;
}

input[type="checkbox"]:checked::after {
  opacity: 100%;
}
/* ----------------------------------------- */

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.file {
  border: 2px solid rgb(65, 65, 65);
  color: rgb(134, 134, 134);
  background-color: white;
  padding: 8px 20px;
  border-radius: 30px;
  width: 90px;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

