#slideBar {
  min-height: 100vh;
}

#navbar {
  display: none;
}

hr {
  color: white;
  border: 1px solid;
}

img {
  object-fit: cover;
}

.configLogoCorhuila {
  width: 148px;
  margin-left: -38%;
}

.textSlideBar {
  font-size: 14px;
}

/* ----------------------- */
/* Animación Boton general */
/* ----------------------- */
.botonGeneral:hover,
.botonGeneral:focus {
  box-shadow: inset -15em 0 0 0 var(--hover);
}

.botonGeneral {
  --color: #8fc866;
  --hover: #66c887;
  border: none;
}

button.botonGeneral {
  color: var(--color);
  -webkit-transition: 0.7s;
  transition: 0.7s;
  border: none;
}

button.botonGeneral:hover,
button.botonGeneral:focus {
  border-color: var(--hover);
  color: #fff;
  border: none;

}

button.botonGeneral {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin-bottom: 5%;
  margin-top: 5%;
  padding: 0.3em .3em;
  border-radius: 5px;
  margin-bottom: 2%;
  border: none;
}

/* ----------------------- */
/* ----------------------- */

/* ----------------------------- */
/* Animación Boton cerrar sesión */
/* ----------------------------- */
.botonCerrarSesion:hover,
.botonCerrarSesion:focus {
  box-shadow: inset -15em 0 0 0 var(--hover);
}

.botonCerrarSesion {
  --color: #ffffff;
  --hover: #ff0000;
  border: none;
}

button.botonCerrarSesion {
  color: var(--color);
  -webkit-transition: 0.7s;
  transition: 0.7s;
  border: none;
}

button.botonCerrarSesion:hover,
button.botonCerrarSesion:focus {
  border-color: var(--hover);
  color: #fff;
  border: none;

}

button.botonCerrarSesion {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 0.3em 1em;
  border-radius: 5px;
  border: none;
}

/* ----------------------------- */
/* ----------------------------- */

.configBotonFoot {
  bottom: 0;
  position: absolute;
  left: 0;
}

@media screen and (max-width: 991px) and (min-width: 0px) {
  #slideBar {
    display: none;
  }

  #navbar {
    display: inline;
  }

  .logoCorhuilaNavbar {
    width: 50%;
    object-fit: cover;
  }

  /* ----------------------- */
  /* Animación Boton general */
  /* ----------------------- */
  .botonGeneral:hover,
  .botonGeneral:focus {
    box-shadow: inset -50em 0 0 0 var(--hover);
  }

  button.botonGeneral {
    color: var(--color);
    -webkit-transition: 1s;
    transition: 1s;
    border: none;
  }

  /* ----------------------- */
  /* ----------------------- */

  /* ----------------------------- */
  /* Animación Boton cerrar sesión */
  /* ----------------------------- */
  .botonCerrarSesion:hover,
  .botonCerrarSesion:focus {
    box-shadow: inset -50em 0 0 0 var(--hover);
  }

  button.botonCerrarSesion {
    color: var(--color);
    -webkit-transition: 1s;
    transition: 1s;
    border: none;
  }

  .textNavbar {
    font-size: 19px;
    font-weight: 500;
    color: white;
  }

}


@media screen and (max-width: 336px) and (min-width: 0px) {

  .logoCorhuilaNavbar {
    width: 50%;
    margin-bottom: 10%;
    object-fit: cover;
  }

  .botonDown {
    margin-bottom: 5%;
  }
}


@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:400,600');

* {
  outline: none;
}

strong {
  font-weight: 600;
}

.page {
  width: 100%;
  height: 100vh;
  background: #fdfdfd;
  font-family: 'Encode Sans Condensed', sans-serif;
  font-weight: 600;
  letter-spacing: .03em;
  color: #212121;
}

header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 70px;
  background: #212121;
  color: #fff;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

main {
  padding: 70px 20px 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

main > div {
  margin: auto;
  max-width: 600px;
}

main h2 span {
  color: #BF7497;
}

main p {
  line-height: 1.5;
  font-weight: 200;
  margin: 20px 0;
}

main small {
  font-weight: 300;
  color: #888;
}

#nav-container {
  position: fixed;
  height: 100vh;
  width: 100%;
  pointer-events: none;
}
#nav-container .bg {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: calc(100% - 70px);
  visibility: hidden;
  opacity: 0;
  transition: .3s;
  background: #000;
}
#nav-container:focus-within .bg {
  visibility: visible;
  opacity: .6;
}
#nav-container * {
  visibility: visible;
}

.button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  border-radius: 0;
  height: 70px;
  width: 30px;
  cursor: pointer;
  pointer-events: auto;
  margin-left: 25px;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.icon-bar {
  display: block;
  width: 100%;
  height: 3px;
  background: #aaa;
  transition: .3s;
}
.icon-bar + .icon-bar {
  margin-top: 5px;
}

#nav-container:focus-within .button {
  pointer-events: none;
}
#nav-container:focus-within .icon-bar:nth-of-type(1) {
  transform: translate3d(0,8px,0) rotate(45deg);
}
#nav-container:focus-within .icon-bar:nth-of-type(2) {
  opacity: 0;
}
#nav-container:focus-within .icon-bar:nth-of-type(3) {
  transform: translate3d(0,-8px,0) rotate(-45deg);
}

#nav-content {
  margin-top: 70px;
  padding: 20px;
  width: 90%;
  max-width: 230px;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 70px);
  background: #212121;
  pointer-events: auto;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  transform: translateX(-100%);
  transition: transform .3s;
  will-change: transform;
  contain: paint;
}

#nav-content ul {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#nav-content li a {
  padding: 10px 5px;
  display: block;
  text-transform: uppercase;
  transition: color .1s;
}

#nav-content li a:hover {
  color: #BF7497;
}

#nav-content li:not(.small) + .small {
  margin-top: auto;
}

.small {
  display: flex;
  align-self: center;
}

.small a {
  font-size: 12px;
  font-weight: 400;
  color: #888;
}
.small a + a {
  margin-left: 15px;
}

#nav-container:focus-within #nav-content {
  transform: none;
}






* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

a,
a:visited,
a:focus,
a:active,
a:link {
  text-decoration: none;
  outline: 0;
}

a {
  color: currentColor;
  transition: .2s ease-in-out;
}

h1, h2, h3, h4 {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  vertical-align: middle;
  height: auto;
  width: 100%;
}
