/* Configuración del titulo principal */
.configTituloPricipal{
  margin: 2%;
  text-align: center;
  font-weight: 700;
  font-size: 32.5px;
}

#contenido {
  overflow-y: auto;
  height: 100vh;
}

.centrarCampos{
  margin-left: auto;
  margin-right: auto;
}

.posicion-nombreUsuario{
  justify-content: end;
  padding-right: 40px;
}

.nombre-usuario{
  margin-left: 1%;
  margin-top: 0.4%;
  font-size: 18px;
  font-weight: 600;
}


.cardConfigGlobal{
  border-radius: 15px 0px 15px 0px;
  background: #fffafa;
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.2));
  margin-bottom: 3%;
  transition: all .3s;
}

.cardConfigGlobal:hover{
  background: #efefef;
  transition: all .3s;
}

.configHref{
  text-decoration: none;
  color: black;
}

.nombreUsuario{
  text-transform: capitalize;
  float: right;
}


/* ----------------------------------------- */
/*    Activar Navbar, Desactivar SlideBar    */
/* ----------------------------------------- */
#navbar{
  display: none;
}

@media screen and (max-width: 991px) and (min-width: 0px) {
  #slideBar{
      display: none;
  }

  #navbar{
      display: inline;
  }

}
/* ----------------------------------------- */


/* ------------------------ */
/*    Check de cada card    */
/* ------------------------ */
  .checkCard{
      filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.3));
      border: 2px solid black;
      margin-left: -2%;
      margin-top: 2%;
      position: absolute;
      width: 35px;
      height: 35px;
  }
/* ------------------------ */


/* Margen entre cada Card */
.margenEntreCards{
  margin-top: 1%;
  margin-bottom: 1%;
}

/* Configuración del Check paara poder editar o elimnar un tarjetón */
.configTituloCard{
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 6%;
}


/* Modal's */
/* ------- */

/* Configuración del titulo para los modal's */
.configTituloModal{
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-top: 4%;
  margin-bottom: -3%;
}

/* ------------------------------------------------ */
/*       Configuración de los campos del FORM       */
/* ------------------------------------------------ */
  .formGroup {
      position: relative;
      padding: 20px 0 0;
      margin-top: 10px;
      width: 100%;
  }

  .formField {
      font-family: inherit;
      width: 100%;
      border: none;
      border-bottom: 2px solid #9b9b9b;
      outline: 0;
      font-size: 17px;
      color: rgb(0, 0, 0);
      padding: 7px 0;
      background: transparent;
      transition: border-color 0.2s;
  }

  .formField::placeholder {
      color: transparent;
  }

  .formField:placeholder-shown ~ .formLabel {
      font-size: 17px;
      cursor: text;
      top: 20px;
  }

  .formLabel {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.3s;
      font-size: 17px;
      color: #676767;
      pointer-events: none;
  }

  .formField:focus {
      padding-bottom: 6px;
      border-width: 3px;
      border-image: linear-gradient(to right, #116399, #38caef);
      border-image-slice: 1;
  }

  .formField:focus ~ .formLabel {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.3s;
      font-size: 17px;
      color: #666666;
      font-weight: 700;
  }

  .formField:required, .formField:invalid {
      box-shadow: none;
  }

  .labelConfig{
      font-size: 16px;
      font-weight: 500;
  }
/* ------------------------------------------------ */


/* ----------------------------------------- */
/*        Configuración del Check Box        */
/* ----------------------------------------- */
  .cont {
      display: flex;
      align-items: center;
      font-size: 17px;
  }

  input[type="checkbox"] {
      height: 1.7rem;
      width: 1.7rem;
      margin: 5px;
      appearance: none;
      position: relative;
      background-color: #F2ECFF;
      border-radius: 15%;
      cursor: pointer;
      overflow: hidden;
      border: .5px solid rgb(137, 137, 137);
  }

  input[type="checkbox"]::after {
      content: '';
      display: block;
      height: 0.9rem;
      width: .4rem;
      border-bottom: .31rem solid #a0ffe7;
      border-right: .31rem solid #a0ffe7;
      opacity: 0;
      transform: rotate(45deg) translate(-50%, -50%);
      position: absolute;
      top: 48%;
      left: 28%;
      text-align: center;
      transition: .25s ease;
  }

  input[type="checkbox"]::before {
      content: '';
      display: block;
      height: 0;
      width: 0;
      background-color: #6b00c8;
      border-radius: 15%;
      opacity: .5;
      transform: translate(-50%, -50%);
      position: absolute;
      top: 50%;
      left: 50%;
      transition: .3s ease;
  }

  input[type="checkbox"]:checked::before {
      height: 130%;
      width: 130%;
      opacity: 100%;
  }

  input[type="checkbox"]:checked::after {
      opacity: 100%;
  }
/* ----------------------------------------- */


/* --------------------------------------- */
/*    Animación del Titulo y los Card's    */
/* --------------------------------------- */
  .tituloAnimacion, .animacionSecundaria {
      animation-name: camposAnimacion;
      animation-duration: 800ms;
      animation-fill-mode: both;
      animation-iteration-count: 1;
  }

  .tituloAnimacion{
      animation-delay: 100ms;
  }

  .animacionSecundaria{
      animation-delay: 150ms;
  }

  @keyframes camposAnimacion {
      from {
          opacity: 0;
          transform: translate3d(0, -25%, 0);
      }
      to {
          opacity: 1;
          transform: translate3d(0, 0, 0);
      }
  }
/* --------------------------------------- */


/* ----------------------------- */
/*     Margen de los Botones     */
/* ----------------------------- */
  .botonesConfig {
      line-height: 25px;
      text-align: center;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: rgba(255, 255, 255, 0);
  }

  /*    Crear    */
  .margenBotonCrear{
      margin-left: auto;
      margin-right: 0%;
      margin-bottom: 1%;
  }

  /*    Actualizar    */
  .margenBotonActualizar{
      margin-left: 0%;
      margin-right: 0%;
      margin-bottom: 1%;
  }

  /*    Eliminar    */
  .margenBotonEliminar{
      margin-left: 0%;
      margin-right: auto;
      margin-bottom: 1%;
  }

  @media screen and (max-width: 1029px) and (min-width: 992px) {
      /*    Crear    */
      .margenBotonCrear{
          margin-left: auto;
          margin-right: auto;
          margin-top: 1%;
          margin-bottom: 1%;
      }

      /*    Actualizar    */
      .margenBotonActualizar{
          margin-left: auto;
          margin-right: auto;
          margin-top: 1%;
          margin-bottom: 1%;
      }

      /*    Eliminar    */
      .margenBotonEliminar{
          margin-left: auto;
          margin-right: auto;
          margin-top: 1%;
          margin-bottom: 1%;
      }
  }

  @media screen and (max-width: 779px) and (min-width: 0px) {
      /*    Crear    */
      .margenBotonCrear{
          margin-left: auto;
          margin-right: auto;
          margin-top: 1%;
          margin-bottom: 1%;
      }

      /*    Actualizar    */
      .margenBotonActualizar{
          margin-left: auto;
          margin-right: auto;
          margin-top: 1%;
          margin-bottom: 1%;
      }

      /*    Eliminar    */
      .margenBotonEliminar{
          margin-left: auto;
          margin-right: auto;
          margin-top: 1%;
          margin-bottom: 1%;
      }
  }

/* ----------------------------- */

/* ------------------------------------------------ */
/*             Configuración de Botones             */
/* ------------------------------------------------ */

  .button {
      width: 250px;
      height: 45px;
      position: relative;
      text-align: center;
      border-radius: 0.40em;
      transition: background 0.2s;
      margin-left: 0.7%;
      margin-right: 0.7%;
      margin-top: 1%;
      margin-bottom: 1%;
  }

  .button::before {
      position: absolute;
      width: 90px;
      height: 35px;
      background-color: #fff;
      font-size: 0.9rem;
      color: #111;
      border-radius: .25em;
      line-height: 35px;
  }

  .button::after {
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      border: 10px solid transparent;
  }

  .button::after,.button::before {
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s;
  }

  .text {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 19px;
  }

  .button-wrapper,.text,.icon {
      overflow: hidden;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      color: #fff;
  }

  .text {
      top: 0
  }

  .text,.icon {
      transition: top 0.3s;
  }

  .icon {
      color: #fff;
      top: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .button:hover .text {
      top: -100%;
  }

  .button:hover .icon {
      top: 0;
  }

  .button:hover:before,.button:hover:after {
      opacity: 1;
      visibility: visible;
  }

  .button:hover:after {
      bottom: 43px;
  }

  .button:hover:before {
      bottom: 63px;
  }

  /* ----------------------------------------------------------- */
  /*                Configuracion para cada boton                */
  /* ----------------------------------------------------------- */

      /* ------------------------------- */
      /*           Boton Crear           */
      /* ------------------------------- */
      .btnCrear {
          background: #1163ff;
          margin-left: auto;
          margin-right: 1%;
      }
      .btnCrear:hover {
          background: #3277f7;
      }

      /* ------------------------------------ */
      /*           Boton Actualizar           */
      /* ------------------------------------ */
      .btnActualizar {
          background: #5C636A;
          margin-left: 1%;
          margin-right: 1%;
      }
      .btnActualizar:hover {
          background: #717a82;
      }

      /* ---------------------------------- */
      /*           Boton Eliminar           */
      /* ---------------------------------- */
      .btnEliminar {
          background: #e92a3d;
          margin-left: 1%;
          margin-right: auto;
      }
      .btnEliminar:hover {
          background: #ff3e51;
      }


      @media screen and (max-width: 991px) and (min-width: 0px) {
          .btnCrear {
              background: #1163ff;
              margin-left: auto;
              margin-right: auto;
          }
          .btnActualizar {
              background: #5C636A;
              margin-left: auto;
              margin-right: auto;
          }
          .btnEliminar {
              background: #e92a3d;
              margin-left: auto;
              margin-right: auto;
          }
      }

  /* ----------------------------------------------------------- */
/* ------------------------------------------------ */

/* --------------- */
/*      Modal      */
/* --------------- */
/* Configuración de los boton */
.btn-modal{
  border-radius: 20px;
  font-size: 19px;
  margin: 2%;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
}

/* ------------------ */
/* Modal para elimnar */

/* Texto del modal */
.textModalEliminar{
  font-size: 20px;
  text-align: center;
  margin: 10%;
}

/* Botones */
.configBotonModalElimnar{
  border-radius: 20px;
  font-size: 19px;
  width: 30%;
  margin: 2%;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
}

.textSelectUsua{
  font-size: 17px;
}

.margen-table{
  width: 90%;
  margin: auto;
  margin-top: 5%;

}

