
#contenido {
  overflow-x: hidden;
  min-height: 100vh;
}

.centrarCampos{
  margin-left: auto;
  margin-right: auto;
}

.card{
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(2px 3px 1px rgba(0, 0, 0, 0.3));
}

/* LOGO CORHUILA */
/* ------------- */
.fondoLogo{
  width: 90vh;
  height: 100vh;
  background: #737372;
  box-shadow: 8px 0px 4px rgba(0, 0, 0, 0.25);
}

.logoCorhuilaBlanco{
  width: 100%;
  height: 100vh;
  filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 1));
}

.tituloEleccion{
  font-size: 50px;
  font-family: 'Dancing Script', cursive;
  color: white;
  position: relative;
  top: 12%;
  filter: drop-shadow(2px 3px 1px rgba(0, 0, 0, 0.5));
}

.posicionCard{
  position: relative;
  top: 12%;
}


/* Inicio de Sesión */
/* ---------------- */

.seccion-iniciarSesion{
  overflow-y: auto;
  min-height: 100vh;
}

.margen-camposForm{
  margin-top: 18%;
}

/* Texto de iniciar Sesión */
.marginCamposInicioSesion{
  font-weight: bold;
  font-size: 37px;
  text-align: center;
  color: #000000;
  margin-bottom: 2%;
}

/* -------------------------------------------- */
/*             Campos Inciar Sesión             */
/* -------------------------------------------- */
  .form-control-config {
      position: relative;
      width: 60%;
      margin-left: auto;
      margin-right: auto;
  }

  .form-control-config .inputConfig {
      background-color: transparent;
      border: 0;
      border-bottom: 2px rgb(137, 137, 137) solid;
      display: block;
      width: 100%;
      padding: 15px 0;
      font-size: 18px;
      color: rgb(0, 0, 0);
  }

  .form-control-config .inputConfig:focus,
  .form-control-config .inputConfig:valid {
      outline: 0;
      border-bottom-color: rgb(137, 137, 137);
      font-weight: 500;
  }

  .form-control-config .labelConfig {
      position: absolute;
      top: 15px;
      left: 0;
      pointer-events: none;
  }

  .form-control-config .labelConfig .spanConfig {
      display: inline-block;
      font-size: 18px;
      min-width: 5px;
      color: rgb(0, 0, 0);
      transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .form-control-config .inputConfig:focus+.labelConfig .spanConfig,
  .form-control-config .inputConfig:valid+.labelConfig .spanConfig {
      color: rgb(67, 67, 67);
      transform: translateY(-30px);
      font-weight: 700;
  }

  .form-control-configModal {
      position: relative;
      width: 70%;
      margin-left: auto;
      margin-right: auto;
  }
/* -------------------------------------------- */


/* Configuracion del boton Ingresar */
/* -------------------------------- */

/* Configuración del boton */
.botonConfig {
  width: 450px;
  margin-top: 3%;
  border-radius: 23px;

  font-weight: 500;
  font-size: 22px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.4);
}

.olvidasteContrasenia{
  margin-top: 2%;
  text-align: center;
  font-size: 21px;
}


/* MODAL DE OLVIDASTER LA CONTRASEÑA */
/* --------------------------------- */

/* Configuración del titulo para el MODAL */
.tituloModalEmail{
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 8%;
  margin-top: 5%;
}


/* Botones del MODAL */

.btnMargenModal{
  margin-top: 8%;
  margin-bottom: 8%;
}

/* Botones */
.btnModal{
  width: 150px;
  border-radius: 50px;
  margin: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: 20px;
  text-align: center;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.4);

}


/* ------------------------------------------------------------------------------ */
/*                                   RESPONSIVE                                   */
/* ------------------------------------------------------------------------------ */

@media screen and (min-width: 1400px) {
  /* LOGO CORHUILA */
  /* ------------- */

  .logoCorhuilaBlanco{
      width: 100%;
      height: 100vh;
      filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 1));
  }

  .tituloEleccion{
      font-size: 50px;
      color: white;
      position: relative;
      top: 22%;
  }

  .posicionCard{
      position: relative;
      top: 22%;
  }

}


@media screen and (max-width: 1200px) {
  /* LOGO CORHUILA */
  /* ------------- */
  .fondoLogo{
      width: 500px;
      height: 100vh;
      background: #737372;
      box-shadow: 8px 0px 4px rgba(0, 0, 0, 0.25);
  }

  .logoCorhuilaBlanco{
    width: 100%;
    height: 100vh;
    filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 1));
  }

}


@media screen and (max-width: 1050px) {
  /* LOGO CORHUILA */
  /* ------------- */
  .fondoLogo{
      width: 450px;
      height: 100vh;
      background: #737372;
      box-shadow: 8px 0px 4px rgba(0, 0, 0, 0.25);
  }

  .logoCorhuilaBlanco{
    width: 100%;
    height: 100vh;
    filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 1));
  }


  /* Inicio de Sesión */
  /* ---------------- */

  /* Texto de iniciar Sesión */
  .marginCamposInicioSesion{
      font-weight: bold;
      font-size: 37px;
      margin: 1%;
      text-align: center;
      color: #000000;
  }


  /* Configuracion del boton Ingresar */
  /* -------------------------------- */

  /* Configuración del boton */
  .botonConfig {
      width: 420px;
      margin-top: 3%;
      border-radius: 23px;

      font-weight: 500;
      font-size: 22px;
      box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.4);


  }

  .olvidasteContrasenia{
      text-align: center;
      font-size: 21px;
  }


}


@media screen and (max-width: 991px) {
  /* LOGO CORHUILA */
  /* ------------- */
  .fondoLogo{
      display: none;
  }

  .logoCorhuilaBlanco{
      display: none;
  }


  /* Inicio de Sesión */
  /* ---------------- */

  /* Texto de iniciar Sesión */
  .marginCamposInicioSesion{
      font-weight: bold;
      font-size: 41px;
      margin: 1%;
      margin-top: 5%;
      text-align: center;
      color: #000000;
  }

}


@media screen and (max-width: 520px) {

  /* Inicio de Sesión */
  /* ---------------- */

  /* Texto de iniciar Sesión */
  .marginCamposInicioSesion{
      font-weight: bold;
      font-size: 37px;
      margin: 1%;
      margin-top: 12%;
      text-align: center;
      color: #000000;
  }

  /* Configuracion del boton Ingresar */
  /* -------------------------------- */

  /* Configuración del boton */
  .botonConfig {
      width: 380px;
      margin-top: 3%;
      border-radius: 23px;

      font-weight: 500;
      font-size: 22px;
      box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.4);


  }

  .olvidasteContrasenia{
      text-align: center;
      font-size: 21px;
  }

}



@media screen and (max-width: 450px) {


  /* Inicio de Sesión */
  /* ---------------- */

  /* Texto de iniciar Sesión */
  .marginCamposInicioSesion{
      font-weight: bold;
      font-size: 37px;
      margin: 1%;
      margin-top: 12%;
      text-align: center;
      color: #000000;
  }

  /* Configuracion del boton Ingresar */
  /* -------------------------------- */

  /* Configuración del boton */
  .botonConfig {
      width: 300px;
      margin-top: 3%;
      border-radius: 22px;

      font-weight: 500;
      font-size: 20px;
      box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.4);


  }

  .olvidasteContrasenia{
      margin-top: 2%;
      text-align: center;
      font-size: 20px;
  }


}

@media screen and (max-width: 360px) {


  /* Inicio de Sesión */
  /* ---------------- */

  /* Texto de iniciar Sesión */
  .marginCamposInicioSesion{
      font-weight: bold;
      font-size: 27px;
      margin: 1%;
      margin-top: 30%;
      text-align: center;
      color: #000000;
  }

  /* Configuracion del boton Ingresar */
  /* -------------------------------- */

  /* Configuración del boton */
  .botonConfig {
      width: 265px;
      margin-top: 5%;
      border-radius: 23px;

      font-weight: 500;
      font-size: 20px;
      box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.4);

  }

  .olvidasteContrasenia{
      margin-top: 2%;
      text-align: center;
      font-size: 18px;
  }


}


@media screen and (max-width: 320px) {


  /* Inicio de Sesión */
  /* ---------------- */

  /* Texto de iniciar Sesión */
  .marginCamposInicioSesion{
      font-weight: bold;
      font-size: 27px;
      margin: 1%;
      margin-top: 30%;
      text-align: center;
      color: #000000;
  }


  /* Configuracion del boton Ingresar */
  /* -------------------------------- */

  /* Configuración del boton */
  .botonConfig {
      width: 230px;
      margin-top: 5%;
      border-radius: 23px;

      font-weight: 500;
      font-size: 20px;
      box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.4);

  }

  .olvidasteContrasenia{
      margin-top: 2%;
      text-align: center;
      font-size: 18px;
  }


}
