
#contenido {
  overflow-x: hidden;
  height: 100vh;
}

/* Configuración del titulo principal */
.configTituloPricipal {
  margin: 2%;
  text-align: center;
  font-weight: 700;
  font-size: 32.5px;
}


.posicion-nombreUsuario {
  justify-content: end;
  padding-right: 40px;
}

.nombre-usuario {
  margin-left: 1%;
  margin-top: 0.4%;
  font-size: 18px;
  font-weight: 600;
}

/* ----------------------------------------- */
/*    Activar Navbar, Desactivar SlideBar    */
/* ----------------------------------------- */
#navbar {
  display: none;
}

@media screen and (max-width: 952px) and (min-width: 0px) {
  #slideBar {
    display: none;
  }

  #navbar {
    display: inline;
  }

}


/* ------------------------------------------------ */

/* ----------------------------------------- */
.contenedor {
  margin: auto;
  margin-top: 3%;
  margin-bottom: 3%;
  width: 90%;
  background: rgb(231, 231, 231);
  border: 2px solid rgb(168, 164, 164);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.titleTarjeton{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 600;
  margin-top: 30px;
}

.inicio{
  display: flex;
  flex-direction: row;
  width: 400px;
  margin-right: 1%;
  margin-left: 1%;
}

.card{
  margin-right: 4%;
  margin-left: 4%;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 300px;
  height: 280px;
  border-radius: 15px;
  box-shadow: 1 0 10px rgba(36, 35, 35, 0.8);
}

.carddos{
  display: flex;
  flex-direction: row;
}

.card .plancha{
  text-align: center;
  margin-top: 2%;
}

.card .content{
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card .contentP .img{
  height: 50%;
}
.card .content .img img{
  position: relative;
  background: white;
  width: 140px;
  height: 140px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0  10px rgba(37, 37, 37, 10);
}

#titleplancha{
  font-size:25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 700;
  color: rgb(54, 54, 54);
}
.card .carddos h2{

  margin-bottom: 2px;
  font-size: 14px;
}

.card .carddos h5{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 11px;
}
.cardbtn{
  margin-left: 4%;
  margin-bottom: 20px;
}
button{
  width: 10%;
}

@media(max-width:1630px){

  .card .content .img img{
    width: 100px;
    height: 100px;
  }
  .card .carddos h2{
    margin-bottom: 1px;
    font-size: 10px;
  }

  .card .carddos h5{
    font-size: 12px;
  }
}

button{
  height: 50px;
  margin-bottom: 10%;
  font-style: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  box-shadow: 0 0  10px rgba(37, 37, 37, 10);
}
.card, .card:hover{
  transition: .5s;
}

.card:hover {
  -webkit-transform:scale(1.3);transform:scale(1.1);
}

.card {
  overflow:hidden;
}

.animacion-marcax {
  animation-timing-function: ease-in-out;
}
