.margen-table{
  width: 90%;
  margin: auto;
  margin-top: 5%;

}

.crear-user{
  width: 90%;

}

#contenido {
  overflow-x: hidden;
  height: 100vh;
}

/* Configuración del titulo principal */
.configTituloPricipal{
  margin: 2%;
  text-align: center;
  font-weight: 700;
  font-size: 32.5px;
}

.centrarCampos{
  margin-left: auto;
  margin-right: auto;
}

.posicion-nombreUsuario{
  justify-content: end;
  padding-right: 40px;
}

.nombre-usuario{
  margin-left: 1%;
  margin-top: 0.4%;
  font-size: 18px;
  font-weight: 600;
}

/* Configuración de los botones principales */
.btn-principal{
  width: 22%;
  margin: 1%;
  font-size: 18px;
  font-weight: 500;
  filter: drop-shadow(2px 1px 2px rgba(0, 0, 0, 0.3));
}


/* ----------------------------------------- */
/*    Activar Navbar, Desactivar SlideBar    */
/* ----------------------------------------- */
#navbar{
  display: none;
}

@media screen and (max-width: 991px) and (min-width: 0px) {
  #slideBar{
      display: none;
  }

  #navbar{
      display: inline;
  }

}
/* ----------------------------------------- */


/* Titulo de los modal's */
.tituloModal{
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  margin-top: 5%;
  margin-bottom: 0%;
}

/*  Boton de los modal's  */
/* ---------------------- */
.btnModal{
  font-size: 19px;
  font-weight: 600;
  margin: 2%;
  border-radius: 5px;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
}


/* Configuración del texto eliminar */
.configTextDelete{
  font-size: 19px;
  font-weight: normal;
  text-align: center;
  margin: 6%;
  margin-bottom: 10%;
}



/* --------------------------------------- */
/*    Animación del Titulo y los Card's    */
/* --------------------------------------- */
  .tituloAnimacion, .animacionSecundaria {
      animation-name: camposAnimacion;
      animation-duration: 800ms;
      animation-fill-mode: both;
      animation-iteration-count: 1;
  }

  .tituloAnimacion{
      animation-delay: 100ms;
  }

  .animacionSecundaria{
      animation-delay: 150ms;
  }

  @keyframes camposAnimacion {
      from {
          opacity: 0;
          transform: translate3d(0, -25%, 0);
      }
      to {
          opacity: 1;
          transform: translate3d(0, 0, 0);
      }
  }
/* --------------------------------------- */


/* ------------------------------------------------ */
/*       Configuración de los campos del FORM       */
/* ------------------------------------------------ */
  .form-control, .form-select{
      filter: drop-shadow(2px 1px 2px rgba(0, 0, 0, 0.2));
      font-size: 17px;
  }

  .form-label{
      font-size: 17px;
      font-weight: 500;
  }
/* ------------------------------------------------ */



/* ----------------------------- */
/*     Margen de los Botones     */
/* ----------------------------- */
  .botonesConfig {
      line-height: 25px;
      text-align: center;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: rgba(255, 255, 255, 0)
  }
/* ----------------------------- */


/* Icono */
svg.btn-editDelete{
  filter: drop-shadow(2px 1px 2px rgba(0, 0, 0, 0.5));
}

svg.iconCrear{
  color: white;
  width: 40px;
  margin-left: -35%;
  margin-top: -5%;
}

.margen-btnCrear{
  margin-bottom: 2%;
  text-align: right;
}

.texto-crearUsuario{
  font-size: 19px;
  font-weight: 600;
  margin-right: 1%;
}

button.btn-crearUsuario{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #0051cb;
  transition: all 0.2s;
  margin-top: 0%;
}

button.btn-crearUsuario:hover{
  background-color: #0D6EFD;
  transition: all 0.2s;
}

button.btn-actualizar{
  margin-right: 3%;
  margin-top: 2%;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  filter: drop-shadow(2px 1px 2px rgba(0, 0, 0, 0.3));
}

button.btn-eliminar{
  margin-left: 3%;
  margin-top: 2%;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  filter: drop-shadow(2px 1px 2px rgba(0, 0, 0, 0.3));
}
